.dart_tool/
.flutter-plugin-dependencies
build/
.gradle/
android/.gradle/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/
*.iml
.idea/
.metadata
*.jks
*.keystore
key.properties
local.properties
tool/dist/
